<body style="background-color:#ffe3fe;">
<div class="container">
  <div class="row">
    <h2 class="text-danger mt-4"> ðŸ’˜ Love Calculator ðŸ’˜ </h2>
    <div class="col-sm">
      <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
          <li><%= error %></li>
      <% end %>
      </ul>
      <% end %>
<hr>
      <p><%= form_for @crush do |f| %></p>
      <p><%= f.label :name, "ðŸ’–ðŸŒšâœ¨Your Crush Nameâœ¨ðŸŒšðŸ’–" %>
        <%= f.text_field :name %></p>
      <p><%= f.label :dob, "â˜€ï¸ Birthday (YYYY-MM-DD)â˜€ï¸" %>
        <%= f.text_field :dob %></p>
      <hr>
      <p><%= f.submit "âœ¨ Calculate âœ¨" %></p>
      <% end %>
    </div>
    <div class="col-sm">
      <iframe src="https://giphy.com/embed/10YK5Hh53nC3dK" width="480" height="331" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/promo-10YK5Hh53nC3dK">via GIPHY</a></p>
    </div>
  </div>
</div>

<main>



</main>