<body style="background-color:#d6c8ff;">
<div class="container">
  <div class="row">
    <div class="col-sm">
     <h2 class="text-info mt-3"> 💘 Tell us a little about yourself 💘 </h2>

      <% if @errors %>
         <ul>
         <% @errors.each do |error| %>
            <li><%= error %></li>
         <% end %>
         </ul>
      <% end %>
      <hr>
      <p><%= form_for @user do |f| %></p>
      <p><%= f.label :username %>
         <%= f.text_field :username %></p>
      <p><%= f.label :password %>
         <%= f.password_field :password %></p>
      <p><%= f.label :password_confirmation %>
         <%= f.password_field :password_confirmation %></p>
         <p><%= f.label :dob, "Date of Birth (YYYY-MM-DD)" %>
         <%= f.text_field :dob %></p>
      <hr>
      <p><%= f.submit "✨ Create your Eros & Psyche account ✨" %></p>
      <% end %>
     
    </div>
    
    <div class="col-sm mt-3">
     <iframe src="https://giphy.com/embed/Dr7ZfXzYfQQJW" width="480" height="451" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/astrology-Dr7ZfXzYfQQJW">via GIPHY</a></p>
    </div>
  </div>
</div>



